<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>super sun</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&subset=latin-ext,vietnamese"
		rel="stylesheet" type="text/css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css">
	<!--  Icofont css  -->
	<link rel="stylesheet" href="/assets/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/animate.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/pogo-slider.min.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/slider.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/default.css" type="text/css">
	<link href="/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet">

	<!--  CUSTOM STYLE  -->
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css">

</head>

<body>
	<header>
		<nav class="navbar navbar-custom navbar-default navbar-fixed-top" data-offset-top=50 data-spy="">
			<div class=container>
				<div class=row>
					<div class="navbar-header navbar-header-custom">
						<button class="collapsed menu-icon navbar-toggle" type="button" aria-expanded="false"
							data-target="#bs-example-navbar-collapse-1" data-toggle="collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/" class="navbar-logo"><img alt="logo" src="/images/logo.png"> </a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-links-custom navbar-nav navbar-right">
							{{# each navLinks}}
							<li class="nav-item">
								<a class="nav-link page-scroll" href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div id="body" class="mt-100">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}}
			{{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}}
			{{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}}
			{{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</div>
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-3 col-sm-12">
						<div class="footer-column-1"><img alt="footer-logo" src="/images/logo.png">
						</div>
					</div>
					<div class="col-xs-12 col-md-3 col-sm-12 col-md-offset-1">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-2">
						<ul>
							{{# each navLinks}}
							<li>
								<a href="{{ href }}">{{ label }}</a>
							</li>
							{{/each}}
							<li>
								<a href="/privacy-policy">Privacy Policy</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-md-3 col-sm-12">
						<div class="white-color mt-20">
							<p><i class="fa fa-envelope-o"></i> E-mail: <br> infor@supersun.com.np</p>
							<p>
								<i class="fa fa-phone"></i> Phone: <br>
								Sajan Kakshyapati: 9851021889<br>
								Bhoo Nimesh Joshi: 9841648555<br>
								Ujjwal Kakshyapati: 9841520805
							</p>
							<p><i class="fa fa-clock-o"></i> Time: <br> Sun-Fri : 9:00am-6:00pm</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="white-color bottom-icons"><a href=#><i class="fa fa-facebook"></i></a> <a href=#><i
									class="fa fa-twitter"></i></a> <a href=#><i class="fa fa-instagram"></i></a> <a
								href=#><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="grey-color mt-10 right-holder">
							<p>© Copyright 2019 Super S.U.N. Noodles. All Rights reserved
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	<!-- JavaScript -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.pogo-slider.min.js"></script>
	<script src="/assets/js/pogo-main.js"></script>
	<script src="/assets/js/owl.carousel.js"></script>
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>
	<script src="/assets/js/waypoints.min.js"> </script>
	<script src="/assets/js/isotope.pkgd.min.js"></script>
	<script src="/assets/js/tabs.min.js"></script>
	<script src="/assets/js/modernizr.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/fancybox/jquery.fancybox.pack.js"></script>
	<script>
		jQuery(function ($) {
			$('.gallery-fancy-box').fancybox({
				prevEffect: 'none',
				nextEffect: 'none',
				closeBtn: false,
				helpers: {
					titl: {},
					buttons: {}
				}
			});
		});
	</script>
</body>

</html>