{{!-- banner --}}
<div class="page-title-section" style="background-image:url(images/parallax-5.jpg)">
    <div class="container">
        <div class="center-holder page-title">
            <h1>About</h1>
            <ul>
                <li><a href='/'>Home</a>
                <li><a href='/about'>About</a>
            </ul>
        </div>
    </div>
</div>
{{!-- about --}}
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img alt="team-img" src="images/teamm.jpg" class="border-round full-width img-shadow">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5">
                <div class="section-heading left-holder mt-20">
                    <h2>We are stick noodles manufacturing company</h2>
                    <div class="left-holder tabs tabs_animate">
                        <ul class="left-holder mt-20 tab-menu">
                            <li><a href=#tab-1>Who We are</a>
                            <li><a href=#tab-2>Our Mission</a>
                            <li><a href=#tab-3>How Its Made</a>
                            <li><a href=#tab-4>History</a>
                        </ul>
                        <div id="tab-1">
                            <div class="text-content">
                                <p>
                                    SUPER SUN is a stick noodles manufacturing company established on 2017 A.D. The
                                    product is 100% vegetarian and highly appreciated and consumed by consumers in
                                    Nepal. The company was established by young entrepreneurs with high determination to
                                    be the best stick noodles in Nepal.
                                </p>
                                <p>
                                    Over this two years of period, our business strategies are building strong
                                    foundation in FMCG (Fast Moving Consumer Goods) market and it is pleasing to witness
                                    the rapid progress of the company. We are committed to the highest standards and
                                    ethics in whatever we do. Also, it is pleasing for us to know that we are constantly
                                    committed to deliver demands of our consumers and believe building strong bond with
                                    them. Today, we have stood to be high capacity manufacturing firm among stick
                                    noodles in the country. So, we admit that the position of this company today comes
                                    from a long way experience and is not an overnight change. In the years to come, we
                                    intend to devote ourselves to continue with our quality product to the consumers.
                                </p>
                            </div>
                        </div>
                        <div id="tab-2">
                            <div class="text-content">
                                <p>
                                    SuperSun have been persistent to its mission of delivering quality noodles with
                                    hygiene focused and create brand value among consumers. No matter what the
                                    circumstance be; a new technology or a new government execution, market trend, or a
                                    competitor’s breakaway product, we have mastered in processing our hygienic product
                                    with outstanding qualities to the consumers.
                                </p>
                            </div>
                        </div>
                        <div id="tab-3">
                            <div class="text-content">
                                <p>
                                    We use wheat flour as major ingredient for making stick noodle with ≤11% gluten
                                    content with ≤0.85% of ash content. About three parts of flour are usually mixed
                                    with one part of salt solution to form crumbly dough. The dough is compressed
                                    between six series of rollers to form a dough sheet. The gluten network is developed
                                    during the sheeting process, contributing to the noodle texture. The sheeted dough
                                    is then slit to produce noodles of 1.75mm ± 0.02mm. Noodles are ready to be stored
                                    and start moisture reduction process where its present moisture content about 38%
                                    reduces to 15% after seven days of trial period. Again, to further process it is
                                    kept in the electrical controlled drying chamber to reduce noodle moisture to 7-8%
                                    to prolong shelf life. Our experience shows that electrically dried noodles have
                                    shelf life upto 12 months. Finally, it is ready to get packed and shipped to the
                                    market.
                                </p>
                            </div>
                        </div>
                        <div id="tab-4">
                            <div class="text-content">
                                <p>
                                    Dried wheat flour stick noodles are an important part in the diet of many Nepalese
                                    people all over Nepal. It is believed that noodles originated in China as early as
                                    5000 BC, then spread to other Asian countries. Today in 2017 we opened a semi noodle
                                    processing facility in Bhaktapur where we work with highly skilled personnel to
                                    process nutritious healthy stick noodles in traditional way.
                                </p>
                                <p>
                                    The Company name S.U.N are the initials of young entrepreneurs SAJAN, UJJWAL AND
                                    NIMESH. The strategic collaborative efforts helped the company to be famous within 2
                                    years of its establishment.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- team --}}
<div class="section-block-grey">
    <div class="container">
        <div class="center-holder section-heading">
            <h2>Team Members</h2>
            <p>Our dedicated members
        </div>
        <div class="row">
            {{# each data.teamMembers}}
            <div class="col-xs-12 col-md-3 col-sm-6">
                <div class="team-member">
                    <div class="team-member-image">
                        {{#if image.url}}
                        <img alt="member"
                            src="{{{cloudinaryUrl image width=360 height=440 gravity='auto' crop='fill'}}}">
                        {{else}}
                        <img alt="blog-img" src="https://via.placeholder.com/360x440?text={{name}}">
                        {{/if}}
                        <div class="team-member-overlay">
                            <div class="team-member-content">
                                {{#if socialLinks.facebook}}
                                <a href="{{{socialLinks.facebook}}}" target="_blank"><i
                                        class="fa fa-facebook-official"></i></a>
                                {{/if}}
                                {{#if socialLinks.linkedin}}
                                <a href="{{{socialLinks.linkedin}}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                {{/if}}
                                {{#if socialLinks.twitter}}
                                <a href="{{{socialLinks.twitter}}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                {{/if}}
                                {{#if socialLinks.instagram}}
                                <a href="{{{socialLinks.instagram}}}" target="_blank"><i
                                        class="fa fa-instagram"></i></a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <a href="{{memberUrl slug}}">
                        <div class="team-member-name">
                            <h4>{{name}}</h4>
                            <h6>{{position}}</h6>
                        </div>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{!-- partners --}}
<div class="partner-section">
    <div class="container">
        <div class="center-holder section-heading">
            <h2>Our Clients</h2>
        </div>
        <div class="owl-carousel owl-theme partners" id="our-partners">
            {{# each data.clients}}
            <div class=item>
                {{#if image.url}}
                <img alt=partner-image src="{{{cloudinaryUrl image width=230 height=115 crop='fill'}}}">
                {{else}}
                <img alt="blog-img" src="https://via.placeholder.com/230x115?text={{title}}">
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</div>