{{!-- banner --}}
<div class="page-title-section" style="background-image:url(images/parallax-5.jpg)">
    <div class="container">
        <div class="center-holder page-title">
            <h1>About</h1>
            <ul>
                <li><a href='/'>Home</a>
                <li><a href='/about'>About</a>
            </ul>
        </div>
    </div>
</div>
{{!-- about --}}
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <img alt="team-img" src="images/teamm.jpg" class="border-round full-width img-shadow">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5">
                <div class="section-heading left-holder mt-20">
                    <h2>We are stick noodles manufacturing company</h2>
                    <div class="left-holder tabs tabs_animate">
                        <ul class="left-holder mt-20 tab-menu">
                            <li><a href=#tab-1>Who We are</a>
                            <li><a href=#tab-2>Our Goal</a>
                            <li><a href=#tab-3>History</a>
                        </ul>
                        <div id="tab-1">
                            <div class="text-content">
                                <p>
                                    SUPER SUN is a stick noodles manufacturing company established on 2017 A.D. The
                                    product is 100% vegetarian and highly appreciated and consumed by consumers in
                                    Nepal. The company was established by young entrepreneurs with high determination to
                                    be the best stick noodles in Nepal.
                                </p>
                            </div>
                        </div>
                        <div id="tab-2">
                            <div class="text-content">
                                <p>
                                    The SUPERSUN main goal is to be top stick noodles manufacturer and top stick noodles
                                    exporter in Nepal.
                                </p>
                            </div>
                        </div>
                        <div id="tab-3">
                            <div class="text-content">
                                <p>
                                    The Company name S.U.N are the initials of young entrepreneurs SAJAN, UJJWAL AND
                                    NIMESH. The strategic collaborative efforts helped the company to be famous within 2
                                    years of its establishment.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- team --}}
<div class="section-block-grey">
    <div class="container">
        <div class="center-holder section-heading">
            <h2>Team Members</h2>
            <p>Our dedicated members
        </div>
        <div class="row">
            {{# each data.teamMembers}}
            <div class="col-xs-12 col-md-3 col-sm-6">
                <div class="team-member">
                    <div class="team-member-image">
                        {{#if image.url}}
                        <img alt="member"
                            src="{{{cloudinaryUrl image width=360 height=440 gravity='auto' crop='fill'}}}">
                        {{else}}
                        <img alt="blog-img" src="https://via.placeholder.com/360x440?text={{name}}">
                        {{/if}}
                        <div class="team-member-overlay">
                            <div class="team-member-content">
                                {{#if socialLinks.facebook}}
                                <a href="{{{socialLinks.facebook}}}" target="_blank"><i
                                        class="fa fa-facebook-official"></i></a>
                                {{/if}}
                                {{#if socialLinks.twitter}}
                                <a href="{{{socialLinks.twitter}}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                {{/if}}
                                {{#if socialLinks.instagram}}
                                <a href="{{{socialLinks.instagram}}}" target="_blank"><i
                                        class="fa fa-instagram"></i></a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <a href="{{memberUrl slug}}">
                        <div class="team-member-name">
                            <h4>{{name}}</h4>
                            <h6>{{position}}</h6>
                        </div>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{!-- partners --}}
<div class="partner-section">
    <div class="container">
        <div class="center-holder section-heading">
            <h2>Our Clients</h2>
        </div>
        <div class="owl-carousel owl-theme partners" id="our-partners">
            {{# each data.clients}}
            <div class=item>
                {{#if image.url}}
                <img alt=partner-image src="{{{cloudinaryUrl image width=230 height=115 crop='fill'}}}">
                {{else}}
                <img alt="blog-img" src="https://via.placeholder.com/230x115?text={{title}}">
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</div>