{{!-- banner --}}
<div class="page-title-section" style="background-image:url(/images/parallax-2.jpg)">
	<div class="container">
		<div class="center-holder page-title">
			<h1>Blog</h1>
			<ul>
				<li><a href='/'>Home</a>
				<li><a href='/blog'>Blog</a>
			</ul>
		</div>
	</div>
</div>
{{!-- blog list --}}
<div class="section-block-grey">
	<div class="container">
		{{#if data.posts.results.length}}
		<div class="row" style="display: flex; flex-wrap:wrap;">
			{{#each data.posts.results}}
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="blog-grid" style="height: calc(100% - 30px)">
					<div class="blog-grid-img">
						<a href="{{postUrl slug}}">
							{{#if image.url}}
							<img alt="blog-img" src="{{{cloudinaryUrl image width=380 height=200 crop='fit'}}}">
							{{else}}
							<img alt="blog-img" src="https://via.placeholder.com/380x200?text={{title}}">
							{{/if}}
						</a>
					</div>
					<div class="blog-grid-content inner-padd">
						<h4><a href="{{postUrl slug}}">{{{title}}}</a></h4>
						{{#if author.name.first}}
						<div class="admin-info"><i class="icon-users"></i><span>{{author.name.first}}</span></div>
						{{/if}}
						<div class="admin-info">
							<i class="icon-calendar-6"></i><span>{{ date publishedDate format='MMMM Do YYYY' }}</span>
						</div>
						<p>{{{content.brief}}}</p>
						<div class="blog-grid-button">
							<a href="{{postUrl slug}}">Read More</a>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		{{>pagination}}
		{{else}}
		<h3 class="text-muted">There are no blogs yet.</h3>
		{{/if}}
	</div>
</div>