{{!-- pogo slider --}}
<div class=pogoSlider id=js-main-slider>
	<div class=pogoSlider-slide style=background-image:url(images/slider/slide-4.jpg) data-duration=1000
		data-transition=fade>
		<div class=container>
			<div class=slider-content>
				<div class=row>
					<div class="col-xs-12 col-sm-12 col-md-8">
						<h2 class=pogoSlider-slide-element data-delay=500 data-duration=750 data-in=slideDown
							data-out=slideUp>You Can change the World</h2>
						<p class="pogoSlider-slide-element hidde" data-delay=900 data-duration=750 data-in=slideRight
							data-out=slideUp>Every failure is a blessing hidden under the mask, provided that it teaches
							something that a person would not otherwise learn. Most of the so-called failures are just a
							temporary defeat.</p><a href=#
							class="pogoSlider-slide-element button-lg button-primary mt-30" data-delay=500
							data-duration=1150 data-in=slideRight data-out=slideDown>Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class=pogoSlider-slide style="background-image:url(images/slider/slide-2.jpg)" data-duration=1000
		data-transition=fade>
		<div class=container>
			<div class=slider-content>
				<div class=row>
					<div class="col-xs-12 col-sm-12 col-md-8">
						<h2 class=pogoSlider-slide-element data-delay=500 data-duration=750 data-in=slideDown
							data-out=slideUp>You Can, If You Believe You Can</h2>
						<p class=pogoSlider-slide-element data-delay=900 data-duration=750 data-in=slideRight
							data-out=slideUp>Define your goals! Work to achieve them! Direct your thoughts, control
							emotions, act, and you will become the true creator of your destiny. You will find the
							answers you need if you look for them.</p><a href=#
							class="pogoSlider-slide-element button-lg button-primary mt-30" data-delay=500
							data-duration=1150 data-in=slideRight data-out=slideDown>Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class=pogoSlider-slide style=background-image:url(images/slider/slide-3.jpg) data-duration=1000
		data-transition=fade>
		<div class=container>
			<div class=slider-content>
				<div class=row>
					<div class="col-xs-12 col-sm-12 col-md-8">
						<h2 class=pogoSlider-slide-element data-delay=500 data-duration=750 data-in=slideDown
							data-out=slideUp>Courage is grace under pressure</h2>
						<p class=pogoSlider-slide-element data-delay=900 data-duration=750 data-in=slideRight
							data-out=slideUp>The starting point of any achievement is desire. Keep it constantly in your
							memory. Weak desires bring in weak results, just as a small amount of fire gives a small
							amount of heat.</p><a href=# class="pogoSlider-slide-element button-lg button-primary mt-30"
							data-delay=500 data-duration=1150 data-in=slideRight data-out=slideDown>Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class=pogoSlider-slide style="background-image:url(images/slider/slide-5.jpg)" data-duration=1000
		data-transition=fade>
		<div class=container>
			<div class=slider-content>
				<div class=row>
					<div class="col-xs-12 col-sm-12 col-md-8">
						<h2 class=pogoSlider-slide-element data-delay=500 data-duration=750 data-in=slideDown
							data-out=slideUp>Make Business Easy with us</h2>
						<p class=pogoSlider-slide-element data-delay=900 data-duration=750 data-in=slideRight
							data-out=slideUp>If people wanted to improve themselves instead of saving the whole world,
							if they tried to achieve inner freedom instead of liberating all of humanity, how much they
							would do for the real liberation of mankind..</p><a href=#
							class="pogoSlider-slide-element button-lg button-primary mt-30" data-delay=500
							data-duration=1150 data-in=slideRight data-out=slideDown>Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- carausal --}}
<div class=section-block>
	<div class=container>
		<div class="center-holder section-heading">
			<h2>Let's make your own Business</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et
				dolore magna aliqua.
		</div>
		<div class="owl-carousel owl-theme" id=articles-services>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-idea></i></div>
				<div class=article-text>
					<h3>Many Features</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus
						sollicitudin pellentesque et non erat.</p><a href=#>Read More</a>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-price-ticket></i></div>
				<div class=article-text>
					<h3>Analytics</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus
						sollicitudin pellentesque et non erat.</p><a href=#>Read More</a>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-fingerprint></i></div>
				<div class=article-text>
					<h3>Customer Insights</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus
						sollicitudin pellentesque et non erat.</p><a href=#>Read More</a>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-smartphone-10></i></div>
				<div class=article-text>
					<h3>Mobile friendly</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus
						sollicitudin pellentesque et non erat.</p><a href=#>Read More</a>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-thinking-head></i></div>
				<div class=article-text>
					<h3>Dedicated support</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus
						sollicitudin pellentesque et non erat.</p><a href=#>Read More</a>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-credit-card></i></div>
				<div class=article-text>
					<h3>Modern design</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus
						sollicitudin pellentesque et non erat.</p><a href=#>Read More</a>
				</div>
			</article>
		</div>
	</div>
</div>
{{!-- services --}}
<div class="section-block-grey">
	<div class="container">
		<div class="center-holder section-heading">
			<h2>Our Services</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et
				dolore magna aliqua.
		</div>
		<div class="row">
			{{# each data.services}}
			<div class="col-xs-12 col-md-4 col-sm-4">
				<div class="service-block">
					{{#if image.url}}
					<img alt="service-image" src="{{{cloudinaryUrl image  width=342 height=200}}}">
					{{else}}
					<img alt="blog-img" src="https://via.placeholder.com/342x200?text={{name}}">
					{{/if}}
					<div class="clearfix inner-padd">
						<h4>{{name}}</h4>
						<p>{{description}}</p>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{!-- counter --}}
<div class=section-block-parallax style="background-image:url(images/parallax-1.jpg)">
	<div class=container>
		<div class=row>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class=countup-box>
					<h4 class=countup>1200</h4>
					<h5>Hours Of Work</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class=countup-box>
					<h4 class=countup>500</h4>
					<h5>Complete Project</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class=countup-box>
					<h4 class=countup>100</h4>
					<h5>Happy Clients</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class=countup-box>
					<h4 class=countup>20</h4>
					<h5>Awards</h5>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- why choose us --}}
<div class=section-block-grey>
	<div class=container>
		<div class="center-holder section-heading">
			<h2>Why Choose Us</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et
				dolore magna aliqua.
		</div>
		<div class=row>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-price-tag></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-taking-notes></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-stopwatch-1></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-scientist-avatar></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-thinking-head></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-smartphone-6></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- testimonials --}}
<div class=section-block-parallax style="background-image:url(images/parallax-4.jpg)">
	<div class=container>
		<div class="center-holder section-heading white-color">
			<h2>What our Clients Say</h2>
		</div>
		<div class="owl-carousel owl-theme" id=testmonials>
			{{# each data.testimonials}}
			<div class="clearfix testmonial-block">
				<div class=testmonial-img>
					{{#if image.url}}
					<img alt="User Image"
						src="{{{cloudinaryUrl image width=150 height=150 crop="thumb" gravity="face"}}}">
					{{else}}
					<img alt="blog-img" src="https://via.placeholder.com/150?text={{name}}">
					{{/if}}
				</div>
				<div class=testmonial-text>
					<div class=ml-15><span>{{company}}</span> <strong>{{name}}</strong><span>{{date postedDate}}</span>
						{{{message}}}
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{!-- partners --}}
<div class="partner-section">
	<div class="container">
		<div class="center-holder section-heading">
			<h2>Our Clients</h2>
		</div>
		<div class="owl-carousel owl-theme partners" id="our-partners">
			{{# each data.clients}}
			<div class=item> <img alt=partner-image src="{{{cloudinaryUrl image}}}"> </div>
			{{/each}}
		</div>
	</div>
</div>