{{!-- pogo slider --}}
<div class=pogoSlider id=js-main-slider>
	{{#each data.banners}}
	{{#if image.url}}
	<div class=pogoSlider-slide style="background-image:url({{cloudinaryUrl image}})" data-duration=500
		data-transition=fade>
		<div class=container>
			<div class=slider-content>
				<div class=row>
					<div class="col-xs-12 col-sm-12 col-md-8">
						<h2 class=pogoSlider-slide-element data-delay=100 data-duration=750 data-in=slideDown
							data-out=slideUp>{{title}}</h2>
						<p class="pogoSlider-slide-element hidde" data-delay=100 data-duration=750 data-in=slideRight
							data-out=slideUp>{{description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	<div class=pogoSlider-slide style="background-image:url(images/slider/slide-4.jpg)" data-duration=500
		data-transition=fade>
		<div class=container>
			<div class=slider-content>
				<div class=row>
					<div class="col-xs-12 col-sm-12 col-md-8">
						<h2 class=pogoSlider-slide-element data-delay=100 data-duration=750 data-in=slideDown
							data-out=slideUp>{{title}}</h2>
						<p class="pogoSlider-slide-element hidde" data-delay=100 data-duration=750 data-in=slideRight
							data-out=slideUp>{{description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}
	{{/each}}
</div>
<div class=section-block>
	<div class=container>
		<div class="center-holder section-heading mb-0">
			{{!-- <h2>Let's make your own Business</h2> --}}
			<p>SUPER SUN is a stick noodles manufacturing company established on 2017 A.D. The product is 100%
				vegetarian and highly appreciated and consumed by consumers in Nepal. The company was established by
				young entrepreneurs with high determination to be the best stick noodles in Nepal. The Company name
				S.U.N are the initials of young entrepreneurs SAJAN, UJJWAL AND NIMESH. The strategic collaborative
				efforts helped the company to be famous within 2 years of its establishment.
			</p>
		</div>
	</div>
</div>
{{!-- services --}}
<div class="section-block-grey">
	<div class="container">
		<div class="center-holder section-heading">
			<h2>Our Services</h2>
			<p>We provide the best services to our clients.
		</div>
		<div class="row">
			{{# each data.services}}
			<div class="col-xs-12 col-md-4 col-sm-4">
				<div class="service-block">
					{{!-- {{#if image.url}}
					<img alt="service-image" src="{{{cloudinaryUrl image  width=342 height=200}}}">
					{{else}}
					<img alt="blog-img" src="https://via.placeholder.com/342x200?text={{name}}">
					{{/if}} --}}
					<div class="clearfix inner-padd service-min-height">
						<h4>{{name}}</h4>
						<p>{{description}}</p>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{!-- counter --}}
<div class=section-block-parallax style="background-image:url(images/parallax-1.jpg)">
	<div class=container>
		<div class=row>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class=countup-box>
					<h4 class=countup>1200</h4>
					<h5>Hours Of Work</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class=countup-box>
					<h4 class=countup>10</h4>
					<h5>Products</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class=countup-box>
					<h4 class=countup>100</h4>
					<h5>Happy Clients</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class=countup-box>
					<h4 class=countup>4</h4>
					<h5>Awards</h5>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- why choose us --}}
<div class=section-block-grey>
	<div class=container>
		<div class="center-holder section-heading">
			<h2>Why Choose Us</h2>
		</div>
		<div class="owl-carousel owl-theme" id=articles-services>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-price-tag></i></div>
				<div class=article-text>
					<h3>Quality</h3>
					<p>We are best known for our qualitative product for all our clients.</p>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-fingerprint></i></div>
				<div class=article-text>
					<h3>Happy Customers</h3>
					<p>We have a happy customers for fulfilling their demands.</p>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-user></i></div>
				<div class=article-text>
					<h3>Customer Feedback</h3>
					<p>We are very flexible and always take feedback from our customers and make necessary changes
						if
						needed.</p>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-smartphone-10></i></div>
				<div class=article-text>
					<h3>Mobile friendly</h3>
					<p>We have been very serious about product quality so we test our product regularly on
						Department of
						food and quality control.</p>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-thinking-head></i></div>
				<div class=article-text>
					<h3>100% Vegetarian</h3>
					<p>Our products are made up of 100% Vegetarian ingredients.</p>
				</div>
			</article>
			<article class="clearfix service-article">
				<div class=article-icon><i class=icon-credit-card></i></div>
				<div class=article-text>
					<h3>DFTQC Certified</h3>
					<p>DFTQC (Department of food and quality control) has been governed by Government of Nepal.</p>
				</div>
			</article>
		</div>
		{{!-- <div class=row>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-price-tag></i></div>
					<div class=box-content>
						<p>100% Vegetarian
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-taking-notes></i></div>
					<div class=box-content>
						<p>Best Quality with DFTQC number
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-stopwatch-1></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-scientist-avatar></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-thinking-head></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="clearfix service-box">
					<div class=box-icon><i class=icon-smartphone-6></i></div>
					<div class=box-content>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus.
					</div>
				</div>
			</div>
		</div> --}}
	</div>
</div>
{{!-- testimonials --}}
<div class=section-block-parallax style="background-image:url(images/parallax-4.jpg)">
	<div class=container>
		<div class="center-holder section-heading white-color">
			<h2>What our Clients Say</h2>
		</div>
		<div class="owl-carousel owl-theme" id=testmonials>
			{{# each data.testimonials}}
			<div class="clearfix testmonial-block">
				<div class=testmonial-img>
					{{#if image.url}}
					<img alt="User Image"
						src="{{{cloudinaryUrl image width=150 height=150 crop="thumb" gravity="face"}}}">
					{{else}}
					<img alt="blog-img" src="https://via.placeholder.com/150?text={{name}}">
					{{/if}}
				</div>
				<div class=testmonial-text>
					<div class=ml-15><span>{{company}}</span>
						<strong>{{name}}</strong><span>{{date postedDate}}</span>
						{{{message}}}
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{!-- partners --}}
<div class="partner-section">
	<div class="container">
		<div class="center-holder section-heading">
			<h2>Our Clients</h2>
		</div>
		<div class="owl-carousel owl-theme partners" id="our-partners">
			{{# each data.clients}}
			<div class=item> <img alt=partner-image src="{{{cloudinaryUrl image}}}"> </div>
			{{/each}}
		</div>
	</div>
</div>