{{!-- banner --}}
<div class=page-title-section style="background-image:url(/images/parallax-2.jpg)">
	<div class=container>
		<div class="center-holder page-title">
			<h1>{{data.post.title}}</h1>
			<ul>
				<li><a href='/'>Home</a>
				<li><a href='/blog'>Blog</a>
			</ul>
		</div>
	</div>
</div>
{{!-- content --}}
<div class="section-block">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-sm-8">
				<div class="blog-post">
					{{#if data.post.image.url}}
					<img alt="blog-image" src="{{{cloudinaryUrl data.post.image width=760 height=390 crop='fill'}}}">
					{{else}}
					<img alt="blog-img" src="https://via.placeholder.com/760x390?text={{data.post.title}}">
					{{/if}}
					<h4>{{data.post.title}}</h4>
					{{#if data.post.author.name.first}}
					<div class="blog-post-info">
						<i class="icon-users"></i><span>{{data.post.author.name.first}}</span>
					</div>
					{{/if}}
					<div class="blog-post-info">
						<i class="icon-calendar-6"></i><span>{{ date publishedDate format='MMMM Do YYYY' }}</span>
					</div>
					<div class="blog-post-info">
						<i class="icon-attachment"></i><span>{{{categoryList data.post.categories }}}</span>
					</div>
					{{{data.post.content.extended}}}
				</div>
			</div>
			<div class="col-xs-12 col-md-4 col-sm-4">
				<div class="blog-post-left">
					<h4>Recent Posts</h4>
					{{#each data.posts}}
					<div class="recent-posts">
						<div class="row">
							<div class="col-xs-12 col-md-5 col-sm-5 recent-posts-img">
								<a href="{{postUrl slug}}">
									{{#if image.url}}
									<img alt="blog-image"
										src="{{{cloudinaryUrl image width=380 height=200 crop='fill'}}}">
									{{else}}
									<img alt="blog-img" src="https://via.placeholder.com/380x200?text={{title}}">
									{{/if}}
								</a>
							</div>
							<div class="col-xs-12 col-md-7 col-sm-7 recent-posts-text">
								<p><a href="{{postUrl slug}}">{{title}}</a></p>
								<span>{{ date publishedDate format='MMMM Do YYYY' }}</span>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
				<div class="blog-post-left categories">
					<h4>Category</h4>
					<ul>
						{{#each data.categories}}
						<li><a href="{{categoryUrl key}}">{{name}} <span>({{postCount}})</span></a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-block" style="padding-top: 0;">
	<div class="container">

		<div class="row">
			<div class="row" style="width: 100%">
				<div class="col-lg-12">
					<div class="blog-head">
						<h3>Comments</h3>
						<hr>
					</div>
				</div>
				<div class="col-lg-12" id="disqus_thread"></div>
			</div>
		</div>
	</div>
</div>

<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/* var disqus_config = function () {
		this.page.url = '{{req.protocol}}://{{req.hostname}}:{{port}}{{req.originalUrl}}';  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = 'supersun-' + '{{ data.post.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		this.page.title = '{{ data.post.title }}'
	}; */

	(function () { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://supersun-1.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
		Disqus.</a></noscript>